<body onload="initMap()">
<h2>LOCALISATION D'UNE OBSERVATION</h2>
</br>
    {{ form_start(observationForm ) }}

    {{ form_errors(observationForm) }}

    {{ form_widget(observationForm) }}

    </br>
    <div id="carte" style="width:50%; height:50%"></div>
    </br>
	<button type="submit" class ="pure-button">Confirmer la localisation de l'observation</button>

    {{ form_end(observationForm) }}


        {% block javascript %}

            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIqgTXv-Vjr43q72FdWxsflcUnFgQ6KM0&callback=initMap"></script>

            <script type="text/javascript">

            function initMap() {

                var latitude = {{ observation.latitude}};
                var longitude = {{ observation.longitude }};

                var latlng = new google.maps.LatLng(latitude,longitude );

                var options = {
                    center: latlng,
                    zoom: 17,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };

                var carte = new google.maps.Map(document.getElementById("carte"), options);

                //création du marqueur
                var marqueur = new google.maps.Marker({
                    position: new google.maps.LatLng({{observation.latitude}}, {{observation.longitude}}),
                    map: carte,
                    draggable: true
                });

                google.maps.event.addListener(marqueur, 'dragend', function(event) {

                    latitude = event.latLng.lat();
                    longitude = event.latLng.lng();
                    console.log('latitude = ', latitude, ' longitude = ', longitude);

                    var latField = document.getElementById('geolocbundle_observation_latitude');
                    latField.value = latitude;
                    var lngField = document.getElementById('geolocbundle_observation_longitude');
                    lngField.value = longitude;

                });

            }

        </script>


        {% endblock %}>

</body>




